

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

.Banner1 {
font-size: 75px;
font-family: 'Open Sans', sans-serif;
font-weight: 800;
}

.navbrand {
  font-size:  30px;
  font-family: Impact, fantasy;
  color: #ffc300;
}

.logocolor {
  color: #FFFFFF;
}

.dark {
  color: #000000;
}

.cardHighlight {
  min-height: 100%;
}

.spacer {
  padding: 20px;
  margin: 20px;
}

html {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-size: 16px;
}

body {
  overflow-x: hidden;
  color: #F7F8FB;
  color: white;
  background: #F7F8FB;
  background-attachment: fixed;
  /*background-size: cover;*/
  background-repeat: no-repeat;
}

html,
body,
#app {
  height: 100%;
  width: 100%;
  position: absolute;
}

p {
  margin-bottom: 0;
}

a,
.dropdown-item,
.btn {
  cursor: pointer;
  transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out, border-color 0.1s ease-in-out;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

th {
  font-size: 1rem;
  font-weight: 400;
  color: #6b859e;
}

td {
  color: #16365f;
}

.table td {
  vertical-align: middle;
}

ul ul,
ol ul {
  list-style: none;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
}


